<table>
  <tr>         
    <td><a href="/">Home</a></td>
    <td><a href="https://vaishavijay.github.io/replit">Replit</a></td>
    <td><a href="https://vaishavijay.github.io/testprep">Test Prep</a></td>
    <td><a href="https://vaishavijay.github.io/challenges">Challenges</a></td>
    <td><a href="https://vaishavijay.github.io/createtask">Create Task</a></td>
    <td><a href="https://vaishavijay.github.io/mcqweek1">MCQ W1</a></td>
    <td><a href="https://vaishavijay.github.io/mcqweek2">MCQ W2</a></td>
    <td><a href="https://vaishavijay.github.io/aptestwk1">AP W1</a></td>
<!--     <td><a href="https://vaishavijay.github.io/aptestwk2">AP W2</a></td> -->
  </tr> 
</table> 
<hr>
