<table>
  <tr>         
    <td><a href="/">Home</a></td>
    <td><a href="https://vaishavijay.github.io/units110">CB Units 1-10</a></td>
    <td><a href="https://vaishavijay.github.io/calender">Calender</a></td>
    <td><a href="https://vaishavijay.github.io/notebook">Notebook</a></td>
    <td><a href="https://vaishavijay.github.io/resources">CB Units 1-10</a></td>
    <td><a href="https://vaishavijay.github.io/apdatabase">AP Database</a></td>
    <td><a href="https://vaishavijay.github.io/tasksdatabase">Tasks Database</a></td>
    <!-- <td><a href="https://vaishavijay.github.io/frqs">FRQs</a></td> -->
  </tr> 
</table> 
<hr>