<table>
  <tr>         
    <td><a href="/">Home</a></td>
    <td><a href="https://vaishavijay.github.io/replit">Replit</a></td>
    <td><a href="https://vaishavijay.github.io/testprep">Test Prep</a></td>
    <td><a href="https://vaishavijay.github.io/challenges">Challenges</a></td>
    <td><a href="https://vaishavijay.github.io/createtask">Create Task</a></td>
    <td><a href="https://vaishavijay.github.io/aboutme">About Me</a></td>
    <td><a href="https://vaishavijay.github.io/mcqweek1">MCQ Week 1</a></td>
  </tr> 
</table> 
<hr>
